body {
    margin: 0;
    font-family: Georgia, serif;
}
nav{
    background-color: red;
    padding: 10px;
}
nav ul{
     display:inline-block;
     list-style-type:none ;
     margin: 0;
     padding: 0px;
     margin-left: 0px;
     vertical-align: middle;
}
nav ul li {
    display: inline-block;   
    margin-right: 10px;
}
nav ul li a {
    text-decoration: none;
    color: black;
}
nav a:hover{
    color:rgb(151, 108, 108);
    text-decoration: underline;;
}
.new{
    display:inline-block;
    color:white;
    font-size:30px;
    font-weight: bold;
    margin-right:52px;
    vertical-align: middle;
}
.container{
    padding:40px;
}
.imagee, .words{
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}
.imagee{
 width: 35%;  
}
.words{
 width:60%;
 padding: 20px;    
 padding-top: 0;
}

.imagee img{
    width: 100%;
    height: auto;
    border: 2px solid black;
}
p{
line-height: 1.5;
text-align: justify;
margin-top: 0;
}
h1{
 font-size: 55px; 
 color: red;
 margin-top: 0;
 margin-bottom: 0;  
}